body{
  background: url('imgs/DnDsymbol.jpg');
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  color: white;
  font-size: 45px;
}
form {
  text-align: center;
  margin: 5% 15%;
}

button {
font-size: 25px;
}

#modifier {
  margin-top: 1%;
  width: 50px;
  border: 2px solid black;
  height: 30px;
  text-align: center;
  font-size: 175%;
  background-color: rgba(48, 47, 46, 0.83);
  color: white;
}

label {
  font-size: 150%;
  font-weight: bold;
  color: white;
}

.dicebtn, .mods {
  text-align: center;
}
