h1 {
  text-align: center;
}
form {
  text-align: center;
  margin: 5% 15%;
}

#modifier {
  margin-top: 1%;
  width: 4%;
  border: 2px solid black;
  height: 30px;
  text-align: center;
  font-size: 175%;
}

label {
  font-size: 150%;
  font-weight: bold;
}
